[Desktop Entry]
Type=Application
Name=yafspiano
Comment=yafspiano
Exec=bash -c '~/yafspiano/yafspiano.sh'
StartupNotify=true
Terminal=true
Hidden=false
NoDisplay=false
